/* Inspiré d'un tutoriel de
 * Tim Wright & Chris Coyier
 -----------------------------*/

* {margin:0;padding:0;}
body {font:1em/1.4 Verdana, Arial, Helvetica, sans-serif; background: url(fond.jpg) top center no-repeat #545454;}
body * {display:inline;}
h1 {display: block; width: 200px;height:10px; text-indent:-9999px; margin: 15px auto; }

#calendrier-et-taches{position:relative;}
#calendrier-et-taches>p{position:absolute;width:10em;}

#calendrier {position:relative;width:76em; margin:0 auto; display:block; min-height: 200px; background: url(ombrage.png) top left no-repeat; padding: 12px 0 0 12px;}
#calendrier li{list-style:none;}
#calendrier li li{position:relative;opacity:0.7;width:10em;height:7em;float:left;margin:.2em; padding:.2em;overflow:auto; background: url(jour.png) bottom right no-repeat; }
#calendrier li li:hover{opacity:1;cursor:pointer;}
#calendrier li li ol{width:auto;}
#calendrier li li ul li,#calendrier li li ol li {font-size:.7em;display:block;height:auto;width:auto; background: none; margin:0;padding:.2em 0;float:none;}
#calendrier li#mois-dernier li, #calendrier li#mois-suivant li { background: url(jour-inactif.png);}

#calendrier li li.fete {}
#calendrier-et-taches p {
position:absolute;display:block;
font-weight:bold;text-align:left;
padding:0.3em;
border:solid 0.1em white;color:white;
}

