* 
{
	margin:0;
	padding:0;
}
body 
{
	font:1em/1.4 Verdana, Arial, Helvetica, sans-serif; 
	background: url(fond.jpg) top center no-repeat #545454;
	height:100%;overflow:auto;
}
h1 
{
	display: block; width: 200px;height:10px; 
	text-indent:-9999px; margin: 15px auto; 
}
#message
{
	position:absolute;
}

#boite-exportation
{
	position:absolute;
}
#lien-exportation-fermer
{
	position:absolute;
	display:none;
	left:500px;
}
#lien-exportation
{
	position:absolute;
}
#exportation
{
	display:none;
	position:absolute;
	top:20px;
	left:20px;
	width:500px;
	height:500px;
}

#mois
{
	position:absolute;
	height:100%;
	width:8000px;
}

#mois .jour 
{
	position:relative;
	display:inline-block;
	float:left;
	height:99%;
	width:250px;
	background-color:#ddeeee;
	border:solid 1px #000099;
}
#mois .jour span
{
	display:inline-block;
	width:100%;
	font-size:80px;
	text-align:center;
	color:#000099;
}
#mois .jour.conge
{
	background-color:pink;
}

#calendrier-et-taches
{
}
#calendrier-et-taches .grande-tache
{
	position:relative;
	border:solid 1px black;
	
}
#calendrier-et-taches .tache
{
	font-size:12px;
	position:absolute;
	display:block;
	border:solid 1px black;
	color:white;
	padding-left:5px;
	font-weight:bold;
	overflow:hidden;
	height:20px;
	cursor:pointer;
}
#calendrier-et-taches .tache:hover
{
		z-index:1000;
}
